body, html, .container-fluid {
  height: 100%;  /* Fill all the page's height */
}

.container-fluid {
  padding: 0; 
}

.fill {
  height: 100%;
  width: 100%;
}

.markdownPreview {
  width: 100%;
  padding: 1.5em;
  h1 {
    margin-top: 0.4em;  /* h1 default top margin looks too big, especially when it's the first element in the previewer */
  }
}

textarea {
  /* http://stackoverflow.com/questions/5235142/how-to-disable-resizable-property-of-textarea */
  
  width: 100%;
  min-height: 40%;
  font-family: monospace;
  padding: 0.6em;  /* Separate text from borders */
  overflow-y: scroll;
  overflow-x: none;
  resize: vertical;  /* Disables the option to manually resize the textarea */
}