<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Image Search Abstraction Layer</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>Image Search Abstraction Layer</h1>
    </header>

    <main>
      <p>
        This API lets you search for images and the view the latest searches.
      </p>
      <p>
        To search images about pineapples:<br/>
        <code>https://atomk-fcc-imgsearch.glitch.me/search/pineapple</code><br/>
      </p>
      <p>
        Example output:<br/>
        <code>[{ "link":"http://xxx.yyy/img.jpg", "snippet": "Pineapples are the best", "context": "http://xxx.yyy/pineapples.html" }, ... ]</code>
      </p>
      <p>
        To view the latest searches:<br/>
        <code>https://atomk-fcc-imgsearch.glitch.me/latest</code><br/>
      </p>
      <p>
        Example output:<br/>
        <code>[{"term":"pineapple","time":"2018-01-06T10:21:31.642Z"}, {"term":"banana","time":"2018-01-06T10:24:06.131Z"}, ... ]</code>
      </p>
    </main>

    <footer>
      Made by <a href="https://www.freecodecamp.com/atomk">Atomk</a> for <a href="https://www.freecodecamp.com">freeCodeCamp</a>.
    </footer>

  </body>
</html>