<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Microservice</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>Timestamp Microservice</h1>
    </header>

    <main>
      <p>Pass timestamps in <strong>milliseconds</strong>! Not seconds, or you'll get wrong dates! If the conversion gives unexpected results try to add three zeros at the end of your timestamp.</p>
      <p>
        Example usage:<br/>
        <code>https://atomk-fcc-timestamp.glitch.me/December%2015,%202015</code><br/>
        <code>https://atomk-fcc-timestamp.glitch.me/1450137600000</code><br/>
      </p>
      <p>
        Example output:<br/>
        <code>{ "unix": 1450137600, "natural": "December 15, 2015" }</code>
      </p>    
    </main>

    <footer>
      Made by <a href="https://www.freecodecamp.com/atomk">Atomk</a> for <a href="https://www.freecodecamp.com">freeCodeCamp</a>.
    </footer>

  </body>
</html>
