<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Request Header Parser Microservice</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>Request Header Parser Microservice</h1>
    </header>

    <main>
      <p>
        Example usage:<br/>
        <code>https://atomk-fcc-reqheaderparser.glitch.me/whoami</code><br/>
      </p>
      <p>
        Example output:<br/>
        <code>{"ipaddress":"XX.XX.XXX.XXX","language":"en-GB","software":"Windows NT 6.1; Win64; x64"}</code>
      </p>    
    </main>

    <footer>
      Made by <a href="https://www.freecodecamp.com/atomk">Atomk</a> for <a href="https://www.freecodecamp.com">freeCodeCamp</a>.
    </footer>

  </body>
</html>
